<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Note: Core telephony permissions are now declared in dialer-core module -->
    <!-- Only app-specific permissions should be added here if needed -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DefaultDialer">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DefaultDialer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filters to make this app a dialer. It's important to include
                 both a "bare" ACTION_DIAL (no data) and a tel: ACTION_DIAL/CALL
                 variant so RoleManager and the platform reliably detect this app
                 as a dialer candidate. -->
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- tel: scheme handler for ACTION_DIAL and ACTION_CALL -->
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <!-- Note: CallScreenActivity and all call-related services are now
             declared in the dialer-core module's manifest and will be
             automatically merged during the build process. -->
    </application>

</manifest>
